

.sec2{
   
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.sec3{
    flex-wrap: wrap;
    height: 611px;
}
.sec3 img{
    margin: 20px 20px;
}
.sec4
{
    overflow: hidden;
}