*{
    margin: 0;
    padding: 0;
    
}

nav{
    display: flex;
    text-align: center;
    background-color: black;
    
    
}


#search{
    position: relative;
    top: 22px;
    right: -230px;
    height: 20px;
    width: 200px;
   
   
    
}
ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav ul li a {
    padding: 12px 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: system-ui;
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    
    font-size: 33px;
    font-weight: bold;
    color: rgb(255, 1, 1);
    text-decoration: underline;
    background-color: gray;
    border-radius: 25px;
    
    
}

#img1 {
    margin: 5px 6px;
    width: 48px;
}

/* section things */

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
 

    background: url("../img/last2.webp");
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;
    font-weight: bold;
   
}

h1 {
    font-size: 3rem;
    color: rgb(255 0 0);
     margin: 70px 0px;
     
    
}
.div1 {
    color: rgb(17, 0, 255);
    font-family: fangsong;
    font-variant: no-common-ligatures;
    
    text-align: center;
    font-weight: bold;
    width: 80vw;
    font-size: 20px;
}
.btn1 {
    font-size: larger;
    padding: 2px 10px;
    margin-top: 29px;
    color: red;
    background-color: #b0e9f5;
    cursor: pointer;
    
}

/* services things */

.sec2{
    display: flex;
    
    justify-content: space-around;
    
}
h2{
    display: block;
    text-align: center;
    font-size: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box
{   
    color: rgb(255, 28, 66);
    border: 2px solid black;
    height: 300px;
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: rgb(87, 179, 163);
}
#box1
{
    width: 32vw;
}
#box2
{
    width: 32vw;
}
#box3
{
    width: 32vw;
}

#box1 img {
    display: block;
    margin: auto;
    width: 17vw;
    padding: 16px 0px;
}
#box2 img {
    display: block;
    margin: auto;
    width: 25vw;
    padding: 21px 0px;
}
#box3 img{
    display: block;
    margin: auto;
    width: 30vw;
    padding: 16px 0px;
}

.sec3
{
    display:  flex;
    /* border: 2px solid black; */
    width: 95vw;
    height: 290px;
    justify-content: center; 
    align-items: center;
    margin: auto;
 
}


.sec3 img {
    width: 15vw;
    /* height: 88px; */
    padding: 0px 20px;
}
 



.sec4 {
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 456px;
    background: url("../img/last.webp") no-repeat;
    background-size: cover;
}
.sec4 form{
    /* border: 2px solid red; */
    width: 330px;
    height: 406px;
    padding: 18px 30px
}
label{
    font-size: 1.9vw;
    font-weight: bold;
    color: rgb(255, 0, 76);
}
input{
    color: red;
    width: 27vw;
    height: 20px;
    border: 1px solid rgb(147, 7, 202);
    padding: 3px;
    border-radius: 5px;
}

.sec4 div{
    margin: 27px;
}

.formbtn{
    display: block;
    margin: auto;
    padding: 4px;
    cursor: pointer;
    background-color: cyan;
    width: 66px;
}

.foot
{
    text-align: center;
    height: 20px;
    width: 100vw;
    background-color: black;
    color: white;
}
p{
    font-size: 1.5vw;
}
.sp{
 margin-top:50px;
}

